<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qsiny.mapper.DelayedMessageMapper">

    <resultMap id="BaseResultMap" type="com.qsiny.entity.DelayedMessage">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="exchangeName" column="exchange_name" jdbcType="VARCHAR"/>
            <result property="routingKey" column="routing_key" jdbcType="VARCHAR"/>
            <result property="sendTime" column="send_time" jdbcType="TIMESTAMP"/>
            <result property="isSend" column="is_send" jdbcType="TINYINT"/>
            <result property="messageValues" column="message_values" jdbcType="VARCHAR"/>
            <result property="createId" column="create_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateId" column="update_id" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,exchange_name,routing_key,
        send_time,is_send,message_values,
        create_id,create_time,update_id,
        update_time
    </sql>
</mapper>
