<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qsiny.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.qsiny.entity.Menu">
            <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="query" column="query" jdbcType="VARCHAR"/>
            <result property="isFrame" column="is_frame" jdbcType="TINYINT"/>
            <result property="isCache" column="is_cache" jdbcType="TINYINT"/>
            <result property="menuType" column="menu_type" jdbcType="TINYINT"/>
            <result property="visible" column="visible" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="createId" column="create_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateId" column="update_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_name,parent_id,
        order_num,path,component,
        query,is_frame,is_cache,
        menu_type,visible,status,
        perms,icon,create_id,
        create_time,update_id,update_time,
        remark
    </sql>
    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT
            DISTINCT m.`perms`
        FROM
            graduation.sys_user_role ur
                LEFT JOIN graduation.sys_role r ON ur.`role_id` = r.`role_id`
                LEFT JOIN graduation.sys_role_menu rm ON ur.`role_id` = rm.`role_id`
                LEFT JOIN graduation.sys_menu m ON m.`menu_id` = rm.`menu_id`
        WHERE
            user_id = #{id}
          AND r.`status` = 0
          AND m.`status` = 0
    </select>
</mapper>
